/*New code*/


.box{
	background-color:white;
	border:1px solid white;
        width: 168px;
	padding:5px;
        border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
        margin-bottom: 15px;
}
.feld{
    background-color:white;
    border:1px solid white;
    width: 225px;
    height: 55px;
    padding:5px;
    border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    margin-bottom: 15px
}
.box:focus,
.feld:focus
{
	border: 1px solid blue;
}
.label {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	color: black;
        background-image:url(/images/required-field.png);
        background-position:top right;
        background-repeat:no-repeat;
        padding-right:9px;

}


 .submit
        {
            background: url('/images/send.gif');
            height: 40px;
            width: 125px;
            border-radius:5px 5px 5px 5px;
	    -webkit-border-radius:5px;
	    -moz-border-radius:5px;
            cursor: pointer;

}
submit:hover
{
	border: 1px solid blue;
}